body {
  background: linear-gradient(to right, #030F46, #282b2c);
}

nav {
background: linear-gradient(to right, #030F46, #282b2c);
}

.row{
  align-items:center;
}
.custom-card-color {
  background-color: #181A52 !important; 
}

.custom-text-color {
  color: #AAD9D9 !important; /* Use !important to override Bootstrap's default styling */
}

.contact-form-container {
max-width: 600px; /* Adjust based on your layout */
margin: auto;
padding: 20px;
}

/* Additional custom styles */
.form-label {
color: #333; /* Example color */
}

.button {
background-color: #007bff; /* Example button color */
border: none;
}

.custom-card-color {
  background-color: #181A52 !important; 
}

/* Adjust padding, margins, colors, etc., to match your site's theme */

